<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Poppins" rel="stylesheet">
<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Custom CSS -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/1bb37b170e.js"></script>

  <!-- Scripts -->  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  


</head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="goatback" alt="Trader Goat's" src="../favicon.ico">
          </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navgoat"><a href="/goats">Add Goats</a></li>
            <li class="navgoat"><a href="/members">Members</a><li>
            <li class="navgoat"><a href="/goatsCat">Goat Catalog</a></li>
            <li class="goatPhone"><i class="fa fa-phone fa-color"></i> 1-800-GOATS</li>
            <li class="goatPhone"><i class="fa fa-trophy fa-color" aria-hidden="true"></i> "LEAST BITEY GOATS ON THE INTERNET" - Capraphobia Magazine</li>
          </ul>
          <!-- Login Info -->
          <div id = "logIn">
            <a href="/loginMems"><button type="button" class="btn btn-success navbar-btn navbar-right">Log In</button></a>
          </div>

          <div id = "memId">
            <p>Welcome </p><h4 id = "user"></h4>
          </div>

        </div>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/login"><button type="button" class="btn btn-success navbar-btn navbar-right">Sign in</button></a>
            </li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br>
    <div class="container-fluid">
    {{{body}}}
    </div>

    <!-- script for login -->

    <script type="text/javascript">

      $(document).ready(function(){
          $("#memId").hide();


        function loginSettings() {

          var id = $("#logedInId").val();
          var email = $("#logedInEmail");
          $("#user").text(email);

          console.log("Login Data : " + email);

          if ( id != null){
            $("#logIn").hide();
            $("#memId").show();
          } else {
            $("#memId").hide();
            $("#LogIn").show();
          }

        }
          window.onload = loginSettings;

      });



    </script>

  </body>
</html>
