<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{{_sections.head}}}
  </head>
  <body>
    {{!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class href="#">G</a>
        </div>

        <div class="nav navbar-nav">
          <ul class="nav navbar-nav">
            <li><a href="#">Buy</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="/goats">Goats</a></li>
            <li><a href="/members">Members</a><li>
            <li><a href="/goatsCat">Goats Catelog</a>
          </ul>
          <a href="/signup"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a>
        </div>
      </div>
    </nav>
    <br/><br/><br/> --}}
    {{{body}}}
  </body>
</html>
