

	<div class="container">
	    <div class="jumbotron welcomegoat">
	    		<h1> Thank you Goat Owner ! </h1>
	    		<h3> Good luck with your new friend/lawnmower!</h3>
					<p>*Returns will only be accepted for gently used goats and Refunds will be store credit*</p>
	    </div>
	</div>
