	

	<div class="container">
	    <div class="jumbotron welcomegoat">
	    		<h1> Thank you Goat Owner ! </h1>
	    		<h3>  Wish you Good Luck and hoping to see you back soon !</h3>
	    </div>
	</div>