	 <h1> Passing goat id to transactions </h1>

    <p> Id passed : {{ goats.id }} </p>


		<tbody>
            {{#each goats}} 
                <tr>
                 <form method="POST" action="/transactions:id">
                <form action ="/goatsCat/{{id}}" method="post">
                  <td>{{id}}</td>
                </tr>
            {{/each}}
        </tbody>

        <h1> Add Member Details </h1>

      
          <form action="/transactions" method="post">
            <div class="form-group">
              <label for="member_name"> Member Name </label>
              <input type="text" class="form-control" name="member_name" placeholder=" Donald Trump">
              <p class="help-block">What is your name ?</p>
            </div>

            <div class="form-group">
              <label for="credit_card"> Credit Card Details </label>
              <input type="text" class="form-control" name="credit_card" placeholder="45813678256">
              <p class="help-block">What is the number of your credit card ?</p>
            </div>

            <div class="form-group">
              <label for="address"> Address </label>
              <input type="text" class="form-control" name="address" placeholder="White House">
              <p class="help-block">Address ?</p>
            </div>

              <button class="btn btn-success btn-xs" type="submit">Submit </button>
            </div>
          </form>