// Font Families
$g-font-primary: "Roboto", sans-serif;

// Font Sizes
// $g-font-primary-size: 16px;



//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #000;

// Main Secondary
$g-bg-color-secondary: #eef1f8;

// Primary Color
$g-color-primary: #3bb18f;